# Visual Studio Code
.vscode/

#-------------------------
# Composer
#-------------------------
#vendor/
#composer.lock

#-------------------------
# Tools Files
#-------------------------
#/tools/

#-------------------------
# Working Files
#-------------------------
working/

#-------------------------


