# Visual Studio Code -- editor configuration is not part of the plugin.
.vscode/

#-------------------------
# Composer
#-------------------------
#vendor/
#composer.lock

#-------------------------
# Tools Files
#-------------------------
#/tools/

#-------------------------
# Work in progress -- not part of the plugin.
#-------------------------
.wpi/

#-------------------------
